*.txt
!Airlines.txt
!Aircraft.txt
!AirportAlias.txt
!Airways.txt
!FAC-ZJX-BDRY.txt
!FSD-FlightPlans.txt
!Fac-CAE-BDRY.txt
!Fac-CHS-BDRY.txt
!Fac-CLT-BDRY.txt
!Fac-DAB-BDRY.txt
!Fac-F11-BDRY.txt
!Fac-FLO-BDRY.txt
!Fac-JAX-BDRY.txt
!Fac-MCO-BDRY.txt
!Fac-MYR-BDRY.txt
!Fac-NBC-BDRY.txt
!Fac-OZR-BDRY.txt
!Fac-PAM-BDRY.txt
!Fac-PNS-BDRY.txt
!Fac-SAV-BDRY.txt
!Fac-SSC-BDRY.txt
!Fac-TLH-BDRY.txt
!Fac-TPA-BDRY.txt
!Fac-VPS-BDRY.txt
!Fac-VLD-BDRY.txt 
!Fac-ZJX-DATA.txt
!Fac-ZJX.txt
!Fac-ZJX_MIA.txt
!Fac-ZDC-BDRY.txt
!Fac-ZMA-BDRY.txt
!Fac-ZWY-BDRY.txt
!FAC-ZNY-BDRY.txt
!FAC-ZHU-BDRY.txt
!FAC-ZTL-BDRY.txt
!FAC-ZDC-MIA.txt
!FAC-ZTL-MIA.txt
!FAC-ZNY-MIA.txt 
!FAC-ZHU-MIA.txt
!Fixes.txt
!NewTextDocument.txt
!README.md
!Squawk.txt
!Traffic.txt
!ZJX-FlightPlans.txt
!eATS.txt
