*.txt
!Airlines.txt
!AirportAlias.txt
!Airways.txt
!FAC-ZJX-BDRY.txt
!FSD-FlightPlans.txt
!Fac-CAE-BDRY.txt
!Fac-CHS-BDRY.txt
!Fac-DAB-BDRY.txt
!Fac-F11-BDRY.txt
!Fac-FLO-BDRY.txt
!Fac-JAX-BDRY.txt
!Fac-MCO-BDRY.txt
!Fac-MYR-BDRY.txt
!Fac-NBC-BDRY.txt
!Fac-OZR-BDRY.txt
!Fac-PNS-BDRY.txt
!Fac-SAV-BDRY.txt
!Fac-SSC-BDRY.txt
!Fac-TLH-BDRY.txt
!Fac-TPA-BDRY.txt
!Fac-VPS-BDRY.txt
!Fac-ZJX-DATA.txt
!Fac-ZJX.txt
!Fac-ZJX_MIA.txt
!Fixes.txt
!LogDetail.txt
!LogFile-Last.txt
!LogFile.txt
!NewTextDocument.txt
!README.md
!S46-FlightPlans.txt
!SnapshotAuto.txt
!Squawk.txt
!Traffic.txt
!ZJX-FlightPlans.txt
!eATS.txt